* {
  box-sizing: border-box;
}

.colored-background-1 {
  /* background-color: lightblue; */
  background-color: hsl(335, 81%, 38%);
  color: white;
}

.App {
  display: flex;
  flex-flow: column;
}

.App-header {
  width: 100%;
  padding: 0 20px;
}

.Calculator {
  width: 100%;
	overflow: auto;
	margin: 0 auto 50px auto;
}

.calculatorResult {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 15px;
}
