.Variable {
  padding: 20px 0;
  color: #444;
  width: 600px;
}

.Variable input{
  margin: 0 40px;
}

.Variable input[type='range']{
  width: 545px;
  margin: 0 40px;
}

.DescriptionTitle{
	font-size: 150%;
}

.Description{
	font-size: 100%;
}
